aiohttp==2.2.3
amqp==2.2.0
async-timeout==1.2.1
billiard==3.5.0.2
celery==4.0.2
chardet==3.0.4
defusedxml==0.5.0
grab==0.6.38
gunicorn==19.7.1
kombu==4.0.2
lxml==3.8.0
Markdown==2.6.8
multidict==3.1.1
psycopg2==2.7.1
pycurl==7.43.0
pytils==0.3
pytz==2017.2
selection==0.0.13
six==1.10.0
SQLAlchemy==1.1.11
user-agent==0.1.8
vine==1.1.3
weblib==0.1.24
yarl==0.11.0
