@mixin centerer
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
.header-title
  a
    color: #fff!important
    text-decoration: none

.search-section
  padding: 10px 40px
  form
    margin: 0 auto
    width: 100%
.pull-right
    float: right
.title-color
    background-color: #3f51b5
    color: #fff
.search-card
     margin: 0 auto
     min-height: 153px!important

.subgroup
  font-size: 12px
  margin-top: -1px
  margin-right: -1px

.subgroup--color
    padding: 2px 12px
    //border-radius: 0.25em
.border-bottom
  border-bottom: 1px solid rgba(0,0,0,.1)

.subgroup--one
  @extend .subgroup--color
  //background-color: rgb(255, 87, 34)
  //background-color: rgb(195,144,212)
  //background-color: #B53F51
  //background-color: #3FB5B5
  background-color: #00BCD4
  color: #fff

.subgroup--two
  @extend .subgroup--color
  background-color: rgb(76, 175, 80)
  color: #fff
.lesson-header
  @extend .border-bottom
  text-align: center
  font-weight: bold
.lesson-number
  display: flex
  align-items : center
  justify-content: center
.lesson-container
  @extend .border-bottom

.lesson
  position: relative
  ul
    padding: 2px 0
    margin-bottom: 0!important
    margin-top: 0em!important
    margin-left: 0.3em!important
  ul li
    padding: 0.3em
    margin: 0
    font-size: 12px
    min-height: 20px!important
    i
      font-size: 18px!important
      margin-right: 2px!important
  ul li:first-child
    font-size: 14px!important
.lesson-border
  border-left: 1px solid rgba(0,0,0,.1)
  .lesson
    @media screen and (max-width: 840px)
      border-bottom: 1px solid rgba(0,0,0,.1)
    @media screen and (min-width: 840px)
      &:nth-child(2)
        border-left: 1px solid rgba(0,0,0,.1)
  .mdl-cell--5-offset-desktop
    @media screen and (min-width: 840px)
      border-left: 1px solid rgba(0,0,0,.1)
  div:last-child
    border-bottom: none

.ui-helper-hidden
    display: none

.ui-helper-hidden-accessible
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

.ui-helper-reset
    margin: 0
    padding: 0
    border: 0
    outline: 0
    line-height: 1.3
    text-decoration: none
    font-size: 100%
    list-style: none

.ui-helper-clearfix:before,
.ui-helper-clearfix:after
    content: ""
    display: table
    border-collapse: collapse

.ui-helper-clearfix:after
    clear: both

.ui-helper-zfix
    width: 100%
    height: 100%
    top: 0
    left: 0
    position: absolute
    opacity: 0
    filter: Alpha(Opacity=0) /* support: IE8 */

.ui-menu
    list-style: none
    padding: 0px
    margin: 0
    display: none
    float: left
    background-color: white
    border: 1px solid #DDD
    font-size: 17px
    z-index: 1
.ui-autocomplete
    max-height: 350px
    overflow-y: scroll
    overflow-x: hidden
.ui-autocomplete li.ui-menu-item
    padding: 2px

.ui-autocomplete a.ui-menu-item-alternate
    background-color: White

.ui-autocomplete a.ui-state-hover
    font-weight: normal !important
    background-color: #003768
    color: White

.ui-menu-item .ui-state-focus
    width: 100px
    background-color: #00b0ff
.ui-menu-item:hover
    background-color: rgb(63, 81, 181)
    color: #fff

.mdl-snackbar__text
  margin: 0 auto

.pages
  padding: 16px
  img
    max-width: 100%
    max-height: 100%

.copyright
  order: 2
  -webkit-order: 2
  -ms-flex-order: 2
  text-align: center
  width: 100%
  p
    margin-bottom: 0
select
    border: 1px solid #111
    background: transparent
    width: 150px
    padding: 5px 5px 5px 5px
    font-size: 16px
    border: 1px solid #ccc
    height: 34px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    width: 230px
    & option:hover
      background-color: rgb(63, 81, 181)

.lesson__title
    font-weight: 500
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width: 0\0)
    select
        background: none
        padding: 5px

