//@import "bourbon/bourbon"
//@import "neat/neat"
//@import "base/reset"
//@import "base/base"
//
//@import "variables"
//@import "layout"
//@import "modules/base"
@import "material-design/material-design-lite"

@mixin centerer
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.search-section
  padding: 10px 40px
  form
    margin: 0 auto
    width: 100%
