<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Розклад занять "Львівська Політехніка"</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bundle.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header  mdl-layout--no-desktop-drawer-button">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Розклад занять</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">Як користуватись?</a>
                <a class="mdl-navigation__link" href="">Розробнику</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Керування</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Як користуватись?</a>
            <a class="mdl-navigation__link" href="">Розробнику</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop">
                <div class="mdl-card mdl-shadow--6dp" style="margin: 0 auto;min-height: 153px;">
	  	<div class="mdl-card__supporting-text">
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="search" />
						<label class="mdl-textfield__label" for="search">Введіть групу</label>
					</div>
				</form>
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Вибір зі списку</button>
				<button class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="float: right">Пошук</button>
			</div>
		</div>
            </div>
        </div>
    </main>
</div>

</body>
</html>