{% extends 'base.html' %}
{% block content %}
    {% import 'timetable_macros.html' as temp %}
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#week-one" class="mdl-tabs__tab {% if week== 1 %}is-active {% endif %}">Перший тиждень</a>
            <a href="#week-two" class="mdl-tabs__tab {% if week== 2 %}is-active {% endif %}">Другий тиждень</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="week-one">
            {{ temp.week(lessons[0],0,day_to_string) }}
        </div>
        <div class="mdl-tabs__panel" id="week-two">
            {{ temp.week(lessons[1],1,day_to_string) }}
        </div>
    </div>
{% endblock %}