{% extends 'base.html' %}
{% block title %} &ndash; {{ group.group_full_name }}{% endblock %}
{% block content %}
    {% import 'timetable_macros.html' as temp %}
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect"  id="timetable">
        <div class="mdl-tabs__tab-bar">
            <a href="#week-one" class="mdl-tabs__tab {% if week== 1 %}is-active {% endif %}">Перший тиждень</a>
            <a href="#week-two" class="mdl-tabs__tab {% if week== 2 %}is-active {% endif %}">Другий тиждень</a>
        </div>

        <div class="mdl-tabs__panel {% if week== 1 %}is-active {% endif %}" id="week-one">
            {{ temp.week(lessons[0],0,day_to_string) }}
        </div>
        <div class="mdl-tabs__panel {% if week== 2 %}is-active {% endif %}" id="week-two">
            {{ temp.week(lessons[1],1,day_to_string) }}
        </div>
    </div>
    <div id="messages" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text" style="margin: 0 auto"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>
{% endblock %}