{% macro week(lessons_list, week_number,day_to_string) -%}
    <div class="mdl-grid ">
        {% for day_number,days in lessons_list.iteritems() %}
            <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop  mdl-cell--12-col-tablet mdl-shadow--2dp mdl-cell--top">
                <div class="mdl-grid lesson-header">
                    <div class="mdl-cell mdl-cell--1-col">Пара</div>
                    <div class="mdl-cell mdl-cell--3-col-phone mdl-cell--7-col-tablet mdl-cell--11-col-desktop">{{ day_to_string(day_number) }}
                    </div>
                </div>
                {% for lesson in days %}
                    <div class="mdl-grid mdl-grid--no-spacing" style="border-bottom: 1px solid rgba(0,0,0,.1);" >
                    <div class="mdl-cell mdl-cell--1-col" style="display: flex;align-items : center; justify-content: center; border-right: 1px solid rgba(0,0,0,.1);">{{ lesson[0].lesson_number }}
                    </div>
                    <div class="mdl-cell mdl-cell--3-col-phone mdl-cell--7-col-tablet mdl-cell--11-col">
                        <div class="mdl-grid mdl-grid--no-spacing brd">
                            {% for subgroup in lesson %}
                                {%  set lol = lesson|length  %}
                                {% set lal = loop.last %}
                                <div class="mdl-cell  mdl-cell--12-col mdl-cell--5-col-desktop lesson">
                                    {% if subgroup.subgroup!=-1 %}
                                        <div class="subgroup">
                                        {% if subgroup.subgroup%2==0 %}<span class="subgroup--one">Перша підгрупа</span>{% else %}<span class="subgroup--two">Друга підгрупа</span>{% endif %}
                                        </div>
                                    {% endif %}
                                    {% if subgroup.lesson_week == week_number or subgroup.lesson_week==-1%}
                                        <ul class="mdl-list">
                                            <li class="mdl-list__item"><span class="mdl-list__item-primary-content">
                                            {{ subgroup.lesson_name }}</span></li>
                                            {% for teacher in  subgroup.teachers  %}
                                                <li class="mdl-list__item"><span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">person</i>{{ teacher.teacher_name }}</span></li>
                                            {% endfor %}
                                            <li class="mdl-list__item">
                                                <span class="mdl-list__item-primary-content">
                                            <i class="material-icons mdl-list__item-icon">place</i>{{ subgroup.room }}, {{ subgroup.lesson_type }}</span>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </div>
                           {% endfor %}
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{%- endmacro %}