<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Розклад занять "Львівська Політехніка" {% block title %}{% endblock %}</title>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bundle.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header  mdl-layout--no-desktop-drawer-button mdl-layout--fixed-tabs">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row header-title">
            <!-- Title -->
            <a href="{{ url_for('frontend.index') }}"> <span class="mdl-layout-title">Розклад занять {{ self.title() }}</span></a>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a href="{{ url_for('frontend.how_to') }}" class="mdl-button mdl-js-button mdl-button--icon"> <i class="material-icons">&#xE8AF;</i></a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title title-color">Керування</span>
        <nav class="mdl-navigation">
            <a href="{{url_for('frontend.index') }}" class="mdl-button mdl-js-button
            mdl-js-ripple-effect mdl-button--primary"><i class="material-icons">&#xE88A;</i>Головна
            </a>
            <a href="{{ url_for('frontend.how_to') }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary"><i class="material-icons">
                &#xE8AF;</i>&nbsp;Як користуватись?
            </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        {% block content %}
        {% endblock %}
    {% block footer %}
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section" style="width:50%">
    <div class="mdl-logo">
      Розклад занять
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="{{ url_for('frontend.how_to') }}">FAQ</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a href="https://github.com/stepanov-valentin/lpschedule" class="mdl-button mdl-js-button mdl-button--icon">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#FFFFFF" d="M8,3A2,2 0 0,0 6,5V9A2,2 0 0,1 4,11H3V13H4A2,2 0 0,1 6,15V19A2,2 0 0,0 8,21H10V19H8V14A2,2 0 0,0 6,12A2,2 0 0,0 8,10V5H10V3M16,3A2,2 0 0,1 18,5V9A2,2 0 0,0 20,11H21V13H20A2,2 0 0,0 18,15V19A2,2 0 0,1 16,21H14V19H16V14A2,2 0 0,1 18,12A2,2 0 0,1 16,10V5H14V3H16Z" />
</svg>
    </a>
    <a href="https://twitter.com/onestoryline" class="mdl-button mdl-js-button mdl-button--icon">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#FFFFFF" d="M17.71,9.33C17.64,13.95 14.69,17.11 10.28,17.31C8.46,17.39 7.15,16.81 6,16.08C7.34,16.29 9,15.76 9.9,15C8.58,14.86 7.81,14.19 7.44,13.12C7.82,13.18 8.22,13.16 8.58,13.09C7.39,12.69 6.54,11.95 6.5,10.41C6.83,10.57 7.18,10.71 7.64,10.74C6.75,10.23 6.1,8.38 6.85,7.16C8.17,8.61 9.76,9.79 12.37,9.95C11.71,7.15 15.42,5.63 16.97,7.5C17.63,7.38 18.16,7.14 18.68,6.86C18.47,7.5 18.06,7.97 17.56,8.33C18.1,8.26 18.59,8.13 19,7.92C18.75,8.45 18.19,8.93 17.71,9.33M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
        </svg>
    </a>
      <a href="mailto:falken.ua@gmail.com?subject=Розклад занять" class="mdl-button mdl-js-button mdl-button--icon">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#FFFFFF" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
</svg></a>
  </div>
    <div class="copyright">
        <p>Code with <i class="material-icons"  style="font-size: 14px;">favorite</i> by Stepanov Valentyn</p>
    </div>
    </footer>
    {% endblock %}
    </main>

</div>
    {% if request.path == "/" %}
<dialog id="dialog" class="mdl-dialog">
  <h3 class="mdl-dialog__title">Вибір групи</h3>
    <form>
  <div class="mdl-dialog__content">
    <label for="institute">Інститут</label>

    <select id="institute">
    </select>
      <br>
    <label for="group">Група</label>
    <select id="group">
    </select>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Закрити</button>
  </div>
  </form>
</dialog>
{% endif %}
</body>
</html>
